* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: black;
}

#homeHeader {
  background-color: white;
  width: 50px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  margin-left: 35px;
  margin-top: 30px;
}
#mainName {
  color: white;
  display: flex;
  margin-top: -25px;
  margin-left: 6rem;
  width: 20px;
  font-size: 15px;
}
#mainName a {
  color: white;
  text-decoration: none;
}
#HeaderNav {
  color: white;
  position: absolute;
  right: 20px;
  top: 20px;
}
#HeaderNav ul {
  list-style: none;
  padding: 0;
}
#HeaderNav ul li {
  display: inline;
  margin-right: 20px;
}
#HeaderNav a {
  color: white;
  text-decoration: none;
}
.container {
  max-width: 800px;
  margin: 100px auto;
  padding: 20px;
  background-color: #111;
  border-radius: 8px;
}

h1 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="submit"] {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 16px;
  background-color: #000;
  color: #fff;
  width: 100%; /* New */
}

input[type="submit"] {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #222;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="submit"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
#HeaderNav {
  margin-left: 0;
  text-align: center;
}

#HeaderNav ul {
  display: inline-block;
}
@media only screen and (max-width: 1000px) and (min-width: 00px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
  }
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: black;
  }
  
  #homeHeader {
    background-color: white;
    width: 50px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    margin-left: 35px;
    margin-top: 30px;
  }
  #mainName {
    color: white;
    display: flex;
    margin-top: -25px;
    margin-left: 6rem;
    width: 20px;
    font-size: 15px;
  }
  #mainName a {
    color: white;
    text-decoration: none;
  }
  #HeaderNav {
    color: white;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  #HeaderNav ul {
    list-style: none;
    padding: 0;
  }
  #HeaderNav ul li {
    display: inline;
    margin-right: 20px;
  }
  #HeaderNav a {
    color: white;
    text-decoration: none;
  }
}