* {
  background-color: black;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
#homeHeader {
  background-color: white;
  width: 50px;
  height: 25px;
  display: flex;
  margin-left: 75px;
  margin-top: 20px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
#mainName {
  color: white;
  width: 100px;
  display: flex;
  margin-top: -30px;
  margin-left: 160px;
  font-size: 15px;
}
#mainName a {
  color: white;
  text-decoration: none;
}
#HeaderNav {
  color: white;
  margin-left: 1150px;
  margin-top: -40px;
}

#HeaderNav ul {
  list-style: none;
  padding: 0;
}

#HeaderNav ul li {
  display: inline;
  margin-right: 20px;
}
#HeaderNav a {
  color: white;
  text-decoration: none;
}
main h1 {
  color: white;
  margin-left: 450px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 75px;
}
div {
  color: white;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
div p {
  width: 300px;
}
h3 {
  color: white;
  width: 625px;
  margin-left: 430px;
  margin-top: 100px;
}
#face {
  width: 250px;
  margin-top: -200px;
  margin-left: 100px;
}
#face2 {
  width: 250px;
  display: block;
  margin-top: -270px;
  margin-left: 1100px;
}
#stopHack {
  margin-top: -500px;
  margin-left: 620px;
  display: block;
}
